---
// import BaseHead from '../components/BaseHead.astro';
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Breno Lasserre'>
  <main class='mt-6 md:mt-0'>
    <div class='!mb-20 flex flex-col gap-3'>
      <div>
        <h2 class='text-lg text-[#CFE4D2]'>About Me</h2>
        <p class='text-sm font-thin text-[#CFE4D2]/60'>
          I’m Breno Lasserre, a 21 year old developer from Argentina. Whether
          I’m creating applications, designing sleek UIs or perfecting the
          smallest details, my passion is always driven by bringing ideas to
          life through technology.
        </p>
      </div>
      <div>
        <h2 class='text-lg text-[#CFE4D2]'>Skills</h2>
        <p class='text-sm font-thin text-[#CFE4D2]/60'>
          I've been always interested in design, and when I started coding two
          years ago, I’ve managed to mix this two worlds. I've learnt
          technologies and skills that let me turn ideas into prototypes: React,
          JavaScript, Typescript, Tailwind, as well as design like UI/UX and
          iconography.
        </p>
      </div>
      <div>
        <h2 class='text-lg text-[#CFE4D2]'>Learning</h2>
        <p class='text-sm font-thin text-[#CFE4D2]/60'>
          I'm always on a journey of self-improvement, currently diving into
          Next.js and working on personal projects, such as my personal blog -
          where I write about different topics.
        </p>
      </div>
    </div>

    <div class='bg-zinc-50 mx-auto mt-8 grid max-w-4xl grid-cols-12 gap-4 p-1'>
      <div
        class='col-span-12 flex h-fit flex-col items-center justify-center gap-2 rounded-3xl border border-[#212822] bg-[#0F120F] p-8 sm:col-span-5'
      >
        <div class='flex w-full items-center justify-start gap-3'>
          <img src='/components.svg' alt='Playground' />
          <h2 class='mb-0 text-xl text-[#C8D6C7]'>Playground</h2>
        </div>
        <div class='w-full'>
          <p class='w-full text-lg font-medium text-[#8CA189]'>
            Playground where I test components.
          </p>
          <a
            href='/playground'
            class='flex !w-full justify-center rounded-xl border border-[#212822] bg-[#182018] px-6 py-2 text-sm !text-[#D6EDDE] !no-underline md:text-base'
            >Explore Playground</a
          >
        </div>
      </div>
      <div
        class='col-span-12 flex h-fit flex-col items-center justify-center gap-2 rounded-3xl border border-[#212822] bg-[#0F120F] p-8 sm:col-span-7'
      >
        <div class='flex w-full items-center justify-start gap-3'>
          <img src='/book.svg' alt='Blog' />
          <h2 class='mb-0 text-xl text-[#C8D6C7]'>Writing</h2>
        </div>
        <div class='w-full'>
          <p class='w-full text-lg font-medium text-[#8CA189]'>
            Blog where I write about stuff. Follow my journey.
          </p>
          <a
            href='/blog'
            class='flex !w-full justify-center rounded-xl border border-[#212822] bg-[#182018] px-6 py-2 text-sm !text-[#D6EDDE] !no-underline md:text-base'
            >Read Posts</a
          >
        </div>
      </div>

      <div
        class='col-span-12 flex h-fit flex-col items-center justify-center gap-2 rounded-3xl border border-[#212822] bg-[#0F120F] p-8 sm:col-span-7'
      >
        <div class='flex w-full items-center justify-start gap-3'>
          <img src='/folder.svg' alt='Playground' />
          <h2 class='mb-0 text-xl text-[#C8D6C7]'>Projects</h2>
        </div>
        <div class='w-full'>
          <p class='w-full text-lg font-medium text-[#8CA189]'>
            Explore the projects I’ve been working lately.
          </p>
          <a
            href='/projects'
            class='flex !w-full justify-center rounded-xl border border-[#212822] bg-[#182018] px-6 py-2 text-sm !text-[#D6EDDE] !no-underline md:text-base'
            >Explore Projects</a
          >
        </div>
      </div>
      <div
        class='col-span-12 flex h-fit flex-col items-center justify-center gap-2 rounded-3xl border border-[#212822] bg-[#0F120F] p-8 sm:col-span-5'
      >
        <div class='flex w-full items-center justify-start gap-3'>
          <img src='/github.svg' alt='Github' />
          <h2 class='mb-0 text-xl text-[#C8D6C7]'>Github</h2>
        </div>
        <div class='w-full'>
          <p class='w-full text-lg font-medium text-[#8CA189]'>
            Follow me and let’s connect!
          </p>
          <a
            href='https://github.com/brenolasserre'
            target='_blank'
            class='flex !w-full justify-center rounded-xl border border-[#212822] bg-[#182018] px-6 py-2 text-sm !text-[#D6EDDE] !no-underline md:text-base'
            >Follow Me</a
          >
        </div>
      </div>
    </div>
  </main>
  <style>
    a {
      text-decoration: underline;
      text-underline-offset: 3px;
      color: #8f8f8f;
    }
    a:hover {
      transition: 0.2s ease-in-out;
      filter: opacity(0.65);
    }
    .blogSection a:hover {
      color: #936de6 !important;
      filter: opacity(1) !important;
    }
    .blogSection li {
      margin-bottom: 0.6em;
      display: flex;
      justify-content: space-between;
    }
    .blogSection li:hover {
      background-color: #261c3a !important;
      outline: 8px solid #261c3a;
      color: #936de6;
      border-radius: 2px;
    }
    .blogSection li:hover a {
      text-decoration-color: #936de6;
    }
    :root {
      color-scheme: dark;
    }
    main {
      width: 700px;
      max-width: calc(100% - 2rem);
    }
    div {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    p {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    h5,
    h4 {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    @keyframes enter {
      0% {
        transform: translateY(25px);
        opacity: 0%;
      }
      100% {
        transform: translateY(0px);
        opacity: 100%;
      }
    }
  </style>
</Layout>
