---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
  <main>
    <div class='w-full'>
      <div class='banner relative'>
        <img
          src='https://pbs.twimg.com/profile_images/1758661529354866688/I3Em-ZMf_400x400.jpg'
          alt='Breno Lasserre'
          class='absolute -bottom-10 left-[11%] w-[6em] rounded-full border-8 border-[#0D0D0D]'
        />
      </div>
      <section class='mx-auto mt-14 w-3/4'>
        <h4 class='mb-0 font-bold text-[#EEEEEC]'>Breno Lasserre</h4>
        <p class='text-[16px] text-[#7D7D7D]'>Product Designer</p>

        <div class='mt-8'>
          <h5 class='text-lg font-semibold text-[#EEEEEC]'>About Me</h5>
          <p class='text-[16px] text-[#7D7D7D] ![text-wrap:balance]'>
            Whether I’m creating applications, designing sleek UIs or perfecting
            the smallest details, my passion is always driven by bringing ideas
            to life through technology.
          </p>
        </div>
      </section>
    </div>
  </main>
</Layout>
<style>
  .banner {
    background-image: url('/banner.webp');
    height: 10em;
    background-position-x: right;
    background-size: cover;
    border-radius: 18px;
  }

  a:hover {
    transition: 0.2s ease-in-out;
    filter: opacity(0.65);
  }

  .tag {
    width: fit-content;
    border-radius: 20px;
    border: 1px solid#191a1d;
    padding: 0.25rem 0.75rem;
    color: #999999;
    font-size: 0.7rem;
  }

  .blogSection a:hover {
    color: #936de6 !important;
    filter: opacity(1) !important;
  }
  .blogSection li {
    margin-bottom: 0.6em;
    display: flex;
    justify-content: space-between;
  }
  .blogSection li:hover {
    background-color: #261c3a !important;
    outline: 8px solid #261c3a;
    color: #936de6;
    border-radius: 2px;
  }
  .blogSection li:hover a {
    text-decoration-color: #936de6;
  }
  :root {
    color-scheme: dark;
  }
  main {
    width: 600px;
    max-width: calc(100% - 2rem);
  }
</style>
