---
// import BaseHead from '../components/BaseHead.astro';
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Breno Lasserre'>
  <div
    class='relative h-[18em] w-full border-b border-border-200 bg-darkBackground-100'
  >
    <div
      class='absolute -bottom-[10vh] flex w-full justify-center md:-bottom-[18vh]'
    >
      <img src='/grupo.webp' alt='Image' class='w-[800px]md:px-0 px-4' />
    </div>
  </div>
  <main class='md:!mt-0'>
    <section class='mt-0 md:mt-[12em]'>
      <div class='mb-1 flex items-center gap-1'>
        <div class='flex flex-col'>
          <h4 class='my-0 text-lg text-text-100' style='--stagger: 1;'>
            Breno Lasserre
          </h4>
          <p
            class='font-xs my-0 text-[14px] text-text-200'
            style='--stagger: 2;'
          >
            Front-End Developer
          </p>
        </div>
      </div>

      <br /><br />
      <div class='mb-6'>
        <h5 class='mb-1 text-lg text-text-100' style='--stagger: 3;'>
          About Me
        </h5>
        <p class='text-text-200' style='--stagger: 4;'>
          I’m Breno Lasserre, a 21 year old developer from Argentina. Whether
          I’m creating applications, designing sleek UIs or perfecting the
          smallest details, my passion is always driven by bringing ideas to
          life through technology.
        </p>
      </div>

      <div class='mb-6' style='--stagger: 5;'>
        <h5 class='mb-1 text-lg text-text-100'>Skills</h5>
        <p class='text-text-200'>
          I've been always interested in design, and when I started coding two
          years ago, I’ve managed to mix this two worlds. I've learnt
          technologies and skills that let me turn ideas into prototypes: React,
          JavaScript, Typescript, Tailwind, as well as design like UI/UX and
          iconography.
        </p>
      </div>
      <div class='mb-6' style='--stagger: 6;'>
        <h5 class='mb-1 text-lg text-text-100'>Learning</h5>
        <p class='text-text-200'>
          I'm always on a journey of self-improvement, currently diving into
          Next.js and working on personal projects, such as my personal blog -
          where I write about different topics.
        </p>
      </div>

      <div class='relative'>
        <img
          src='/map.png'
          alt='Map of Buenos Aires'
          class='my-24 rounded-xl'
        />

        <div
          class='blue-dot-container absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform'
        >
          <div class='blue-dot-ring'></div>
          <div class='blue-dot'></div>
        </div>
      </div>
    </section>
  </main>
  <style>
    a {
      text-decoration: underline;
      text-underline-offset: 3px;
      color: #8f8f8f;
    }
    a:hover {
      transition: 0.2s ease-in-out;
      filter: opacity(0.65);
    }
    .blogSection a:hover {
      color: #936de6 !important;
      filter: opacity(1) !important;
    }
    .blogSection li {
      margin-bottom: 0.6em;
      display: flex;
      justify-content: space-between;
    }
    .blogSection li:hover {
      background-color: #261c3a !important;
      outline: 8px solid #261c3a;
      color: #936de6;
      border-radius: 2px;
    }
    .blogSection li:hover a {
      text-decoration-color: #936de6;
    }
    :root {
      color-scheme: dark;
    }
    main {
      margin: auto;
      padding: 0 1rem;
      margin-top: 6em;
      width: 800px;
      max-width: calc(100% - 2rem);
    }
    p {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    h5,
    h4 {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    @keyframes enter {
      0% {
        transform: translateY(25px);
        opacity: 0%;
      }
      100% {
        transform: translateY(0px);
        opacity: 100%;
      }
    }
  </style>
</Layout>
