---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
  <main class='mt-6 md:mt-0'>
    <div class='mb-20 flex flex-col gap-3'>
      <div>
        <h2 class='text-xl text-[#d4d4d4]'>Breno Lasserre</h2>
        <p class='text-sm font-thin text-[#787878]'>
          Soy un desarrollador de 21 años que ya sea creando aplicaciones,
          diseñando interfaces elegantes o perfeccionando los detalles más
          pequeños, mi pasión siempre se impulsa al llevar ideas a la vida a
          través de la tecnología.
        </p>
      </div>
    </div>

    <div class='mx-auto mt-16 grid max-w-4xl grid-cols-12 gap-4 p-1'>
      <div
        class='col-span-12 flex h-auto flex-col gap-2 rounded-2xl border border-[#191a1d] p-6 sm:col-span-5'
      >
        <p class='text-[#787878]'>Tech Stack</p>
        <p>Front-End Specialist</p>
        <div class='flex flex-wrap gap-1'>
          <span class='tag'>React</span>
          <span class='tag'>Node.js</span>
          <span class='tag'>TypeScript</span>
          <span class='tag'>Tailwind</span>
          <span class='tag'>SCSS</span>
          <span class='tag'>MySQL</span>
        </div>
      </div>

      <div
        class='col-span-12 flex h-auto flex-col justify-between gap-2 rounded-2xl border border-[#191a1d] p-6 sm:col-span-7'
      >
        <p class='flex items-center gap-2 text-[#787878]'>
          Escuchando Ahora <span>Spotify</span>
          <span class='relative flex h-2 w-2'>
            <span
              class='absolute inline-flex h-full w-full animate-ping rounded-full bg-[#305ACE] opacity-75'
            ></span>
            <span class='relative inline-flex h-2 w-2 rounded-full bg-[#305ACE]'
            ></span>
          </span>
        </p>
        <div class='flex items-end gap-4'>
          <img
            width='80px'
            class='rounded-xl'
            src='https://i1.sndcdn.com/artworks-H1tB8kmyptdLsVCV-xu304A-t500x500.jpg'
            alt='Disco'
          />
          <div class='flex flex-col'>
            <p class=''>Funk You</p>
            <p class='text-[#787878]'>Kreech</p>
          </div>
        </div>
      </div>

      <div
        class='col-span-12 flex h-auto flex-col gap-2 rounded-2xl border border-[#191a1d] p-6 sm:col-span-7'
      >
        <p class='flex items-center gap-2 text-[#787878]'>
          Ultimas entradas Blog
        </p>
        <ul>
          <li class='mb-2 flex items-center justify-between'>
            <p class=''>Como sacar los comandos de..</p>
            <span>14/04/24</span>
          </li>
          <li class='mb-2 flex items-center justify-between'>
            <p class=''>Estudiar por tu cuenta sir..</p>
            <span>08/04/24</span>
          </li>
          <li class='mb-2 flex items-center justify-between'>
            <p class=''>Compresion de SVG Moderna</p>
            <span>14/03/24</span>
          </li>
        </ul>
      </div>

      <div
        class='col-span-12 flex h-auto flex-col gap-2 rounded-2xl border border-[#191a1d] p-6 sm:col-span-5'
      >
        <p class='text-[#787878]'>Ubicacion</p>
        <p>Buenos Aires, Argentina</p>

        <div class='relative'>
          <img
            width='100px'
            height='100px'
            src='/public/mapa.svg'
            alt='Mapa de Argentina'
          />
          <span class='absolute right-7 top-24 flex h-3 w-3'>
            <span
              class='absolute inline-flex h-full w-full animate-ping rounded-full bg-[#305ACE] opacity-75'
            ></span>
            <span class='relative inline-flex h-3 w-3 rounded-full bg-[#305ACE]'
            ></span>
          </span>
        </div>
      </div>
    </div>
  </main>
  <style>
    a {
      text-decoration: underline;
      text-underline-offset: 3px;
      color: #8f8f8f;
    }
    a:hover {
      transition: 0.2s ease-in-out;
      filter: opacity(0.65);
    }

    .tag {
      width: fit-content;
      border-radius: 20px;
      border: 1px solid#191a1d;
      padding: 0.25rem 0.75rem;
      color: #999999;
      font-size: 0.7rem;
    }

    .blogSection a:hover {
      color: #936de6 !important;
      filter: opacity(1) !important;
    }
    .blogSection li {
      margin-bottom: 0.6em;
      display: flex;
      justify-content: space-between;
    }
    .blogSection li:hover {
      background-color: #261c3a !important;
      outline: 8px solid #261c3a;
      color: #936de6;
      border-radius: 2px;
    }
    .blogSection li:hover a {
      text-decoration-color: #936de6;
    }
    :root {
      color-scheme: dark;
    }
    main {
      width: 700px;
      max-width: calc(100% - 2rem);
    }
    div {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    p {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
      margin: 0;
    }
    h5,
    h4 {
      animation: enter 0.6s both;
      animation-delay: calc(var(--stagger) * 100ms);
    }
    @keyframes enter {
      0% {
        transform: translateY(25px);
        opacity: 0%;
      }
      100% {
        transform: translateY(0px);
        opacity: 100%;
      }
    }
  </style>
</Layout>
