---
import Otp from '../components/playground/Otp';
import Modal from '../components/playground/Modal';
import Reload from '../components/playground/Reload';
import AppStore from '../components/playground/AppStore';
import Contenedor from '../components/playground/Contenedor';
import Widget from '../components/playground/Widget';
import Layout from '../layouts/Layout.astro';
import Buttons from '../components/playground/Buttons.tsx';
import '../styles/global.css';
---

<Layout title='Playground'>
  <main>
    <h2 class='my-16 text-3xl font-semibold'>Components</h2>

    <section class='mt-0'>
      <Contenedor
        descripcion=`Purchase Confirmation`
        tags='framer-motion'
        client:load
      >
        <Widget client:load />
      </Contenedor>
      <Contenedor
        descripcion=`Delete Project Modal`
        tags='framer-motion'
        client:load
      >
        <Modal client:load />
      </Contenedor>
      <Contenedor descripcion=`What To Watch` tags='animation' client:load>
        <AppStore client:load />
      </Contenedor>
      <Contenedor
        descripcion=`MicroInteractions`
        tags='microinteraction'
        client:load
      >
        <Reload client:load />
      </Contenedor>

      <Contenedor client:load tags='component' descripcion='OTP Input para 2FA'>
        <Otp length={6} client:load />
      </Contenedor>

      <Contenedor
        tags='buttons'
        descripcion='Coleccion de botones retro'
        client:load
      >
        <Buttons />
      </Contenedor>
    </section>
  </main>
</Layout>

<style>
  :root {
    color-scheme: dark;
  }
  main {
    margin: auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }

  .maxContent {
    width: 750px;
    max-width: calc(100% - 5rem);
  }
</style>
