---
import Otp from '../components/playground/Otp';
import Modal from '../components/playground/Modal';
// import Animation2 from '../components/playground/Animation2';

import Reload from '../components/playground/Reload';
import AppStore from '../components/playground/AppStore';
import Contenedor from '../components/playground/Contenedor';
import Layout from '../layouts/Layout.astro';
import Buttons from '../components/playground/Buttons.tsx';
import '../styles/global.css';
---

<Layout title='Playground'>
  <main>
    <section class='mt-0'>
      <Contenedor descripcion=`Modal`>
        <Modal client:load />
      </Contenedor>
      <Contenedor descripcion=`What To Watch`>
        <AppStore client:load />
      </Contenedor>
      <Contenedor descripcion=`MicroInteraction: Animacion de Reload`>
        <Reload client:load />
      </Contenedor>
      <!-- <Contenedor descripcion=`Animacion de Bloques con Framer Motion`>
        <Animation2 client:load />
      </Contenedor> -->
      <Contenedor descripcion='OTP Input para 2FA'>
        <Otp length={6} client:load />
      </Contenedor>
      <Contenedor descripcion='Coleccion de botones retro'>
        <Buttons />
      </Contenedor>
    </section>
  </main>
</Layout>

<style>
  :root {
    color-scheme: dark;
  }
  main {
    margin: auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }

  .maxContent {
    width: 750px;
    max-width: calc(100% - 5rem);
  }
</style>
