---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project';
import '../styles/global.css';
---

<Layout title='Playground'>
  <main>
    <section class='mt-0'>
      <Project
        nombre='CambioCambio'
        icon='https://cambiocambio.vercel.app/logo.svg'
        descripcion='CambioCambio es un sitio web dinámico diseñado para simplificar la complejidad de los tipos de cambio del dolar en Argentina. El objetivo principal de CambioCambio es el de brindarle a las personas informacion financiera de forma clara, concisa y gratuita.'
        categoria='Finanzas'
        url='/cambiocambio'
      />
      <Project
        nombre='ComparaTasas (Collaborator)'
        icon='https://comparatasas.ar/favicon.ico'
        descripcion='El objetivo de este proyecto es construir la fuente de información de datos financieros mas clara y robusta posible para cualquier Argentino que quiera mejorar su salud financiera.'
        categoria='Finanzas'
        url='/cambiocambio'
      />
    </section>
  </main>
</Layout>

<style>
  :root {
    color-scheme: dark;
  }
  main {
    margin: auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }

  .maxContent {
    width: 750px;
    max-width: calc(100% - 5rem);
  }
</style>
