---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project';
import '../styles/global.css';
---

<Layout title='Proyectos'>
  <main>
    <section class='mt-0 flex w-full flex-col justify-between lg:flex-row'>
      <Project
        urlVisible='cambiocambio'
        nombre='CambioCambio'
        descripcion='Web app que muesta las diferentes cotizaciones del dolar, crypto y noticias.'
        categoria='Finanzas'
        url='https://cambiocambio.vercel.app/'
      />
      <Project
        urlVisible='cambiocambio'
        nombre='ComparaTasas'
        descripcion='Web app que sirve como fuente clara y robusta de información de datos financieros.'
        categoria='Finanzas'
        url='https://comparatasas.ar/'
      />
    </section>
  </main>
</Layout>

<style>
  :root {
    color-scheme: dark;
  }

  body {
    margin: 0 auto;
  }
  main {
    margin: 0 auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }

  .maxContent {
    width: 750px;
    max-width: calc(100% - 5rem);
  }
</style>
