---
type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;

import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Navbar from '@/components/Navbar';
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta property='og:title' content='Breno Lasserre' />
    <meta
      property='og:description'
      content='This is the portfolio where I share my work!'
    />
    <meta property='og:image' content='URL of the image you want to display' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicons/favicon-32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicons/favicon-16.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicons/touch-icon.png'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <BaseHead title={title} description={description} />
    <style is:global>
      :root {
        color-scheme: dark;
      }
      main {
        width: 700px;
        max-width: calc(100% - 2rem);
      }
      pre {
        margin: 0;
        border-radius: 12px;
        border: 1px solid #19191a !important;
        background-color: #08090a !important;
        padding: 2rem 2rem;
        font-family: monospace;
        color: #8b8b8b;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 2rem;
      }
      p {
        color: #a1a1a1 !important;
      }
      @media only screen and (max-width: 600px) {
        p {
          font-size: 15px;
        }
      }

      a {
        color: #a1a1a1 !important;
        /* text-decoration: underline !important; */
      }
      a:hover {
        color: #eaeaea !important;
        transition: color ease-in-out 0.2s;
      }
      h5 {
        margin-bottom: 0.75em;
      }
    </style>
  </head>

  <body>
    <Navbar client:load />

    <main>
      <div
        class='gradientTop fixed left-0 top-0 z-50 h-[50px] w-full bg-gradient-to-b from-[#0D0D0D] to-transparent'
      >
      </div>
      <a
        href='/playground'
        id='goBack'
        class='mb-10 flex w-fit items-center gap-1 p-2 pl-0 text-[15px] font-normal text-[#757779] transition hover:font-medium hover:text-white md:text-base'
      >
        <svg width='26' viewBox='0 0 100 100'>
          <g id='moveGroup'>
            <line
              x1='30'
              y1='50'
              x2='80'
              y2='50'
              stroke='currentColor'
              stroke-width='5'
            >
            </line>
            <polyline
              points='50 70, 30 50, 50 30'
              fill='none'
              stroke='currentColor'
              stroke-width='5'
              stroke-linejoin='round'
              stroke-linecap='round'></polyline>
            <animateTransform
              attributeName='transform'
              type='translate'
              values='0 0; -80 0; -150 0'
              keyTimes='0; 0.5; 1'
              begin='goBack.mouseenter'
              dur='.2s'
              fill='freeze'
              keySplines='0.42 0 1 1; 0.42 0 0.58 1'
            >
            </animateTransform>
            <animateTransform
              attributeName='transform'
              type='translate'
              values='200 0; -10 0; 0 0'
              keyTimes='0; 0.6; 1'
              begin='goBack.mouseenter + .1s'
              dur='.4s'
              fill='freeze'
              keySplines='0.42 0 1 1; 0.42 0 0.58 1'
            >
            </animateTransform>
          </g>
        </svg>
        Go back
      </a>

      <article>
        <div class='prose'>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
