---
interface Props {
  title: string;
}

import '../styles/global.css';
import Navbar from '@/components/Navbar';
---

<!-- 
            ·         ··             ▪     ·       ·  
• ▄ ▄ ·.  ▄▄▄· ·▄▄▄▄  ▄▄▄ .    ▄▄▄▄·  ▄· ▄▌
·██ ▐███▪▐█ ▀█ ██▪ ██ ▀▄.▀·    ▐█ ▀█▪▐█ ██▌
▐█ ▌▐▌▐█·▄█▀▀█ ▐█· ▐█▌▐▀▀▪▄  · ▐█▀▀█▄▐█▌▐█▪
██ ██▌▐█▌▐█ ▪▐▌██. ██ ▐█▄▄▌    ██▄▪▐█ ▐█▀·.
▀▀  █▪▀▀▀ ▀  ▀ ▀▀▀▀▀•  ▀▀▀ ▪   ·▀▀▀▀   ▀ • 
·          ▄▄▄▄· ▄▄▄  ▄▄▄▄ . ▐  ▄       
          ▐█ ▀█▪▀▄ █·█ .· •█▌▐█▪     ▪
       ▪  ▐█▀▀█▄▐▀▀▄ ▐▀▀ ▄▐█▐▐▌ ▄█▀▄    ·
          ██▄▪▐█▐█•█▌▐█▄▄▌██▐█▌▐█▌.▐▌    ·
    ·.    ·▀▀▀▀ .▀  ▀ ▀▀▀ ▀▀ █  ▀█▄▀▪
--><!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta property='og:title' content='Breno Lasserre' />
    <meta
      property='og:description'
      content='This is the portfolio where I share my work!'
    />
    <meta property='og:image' content='URL of the image you want to display' />
    <meta name='viewport' content='width=device-width' />

    <!-- Standard Favicons -->
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicons/favicon-32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicons/favicon-16.png'
    />

    <!-- Apple Touch Icons -->
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicons/touch-icon.png'
    />

    <!-- Android Icons -->
    <link rel='icon' sizes='192x192' href='/favicons/android-192.png' />
    <link rel='icon' sizes='512x512' href='/favicons/android-512.png' />

    <!-- Web App Manifest -->
    <link rel='manifest' href='/site.webmanifest' />
    <!-- Breno lasserre - {title} -->
    <meta name='generator' content={Astro.generator} />
    <title>Breno Lasserre</title>
  </head>
  <body>
    <Navbar client:idle />
    <div class='gradient-blur'>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div
      class='gradientTop fixed left-0 top-0 z-50 h-[50px] w-full bg-gradient-to-b from-[#0D0D0D] to-transparent'
    >
    </div>

    <slot />
  </body>
</html>
