---
interface Props {
  title: string;
}
const { title } = Astro.props;
import '../styles/global.css';
import { motion, AnimatePresence } from 'framer-motion';
---

<!-- 
            ·         ··             ▪     ·       ·  
• ▄ ▄ ·.  ▄▄▄· ·▄▄▄▄  ▄▄▄ .    ▄▄▄▄·  ▄· ▄▌
·██ ▐███▪▐█ ▀█ ██▪ ██ ▀▄.▀·    ▐█ ▀█▪▐█ ██▌
▐█ ▌▐▌▐█·▄█▀▀█ ▐█· ▐█▌▐▀▀▪▄  · ▐█▀▀█▄▐█▌▐█▪
██ ██▌▐█▌▐█ ▪▐▌██. ██ ▐█▄▄▌    ██▄▪▐█ ▐█▀·.
▀▀  █▪▀▀▀ ▀  ▀ ▀▀▀▀▀•  ▀▀▀ ▪   ·▀▀▀▀   ▀ • 
·          ▄▄▄▄· ▄▄▄  ▄▄▄▄ . ▐  ▄       
          ▐█ ▀█▪▀▄ █·█ .· •█▌▐█▪     ▪
       ▪  ▐█▀▀█▄▐▀▀▄ ▐▀▀ ▄▐█▐▐▌ ▄█▀▄    ·
          ██▄▪▐█▐█•█▌▐█▄▄▌██▐█▌▐█▌.▐▌    ·
    ·.    ·▀▀▀▀ .▀  ▀ ▀▀▀ ▀▀ █  ▀█▄▀▪
--><!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>Breno Lasserre - {title}</title>
  </head>
  <body>
    <div class='flex h-20 items-center justify-center'>
      <div
        class='fixed z-[99] flex items-center justify-center gap-2 rounded-full border border-[#212122] bg-[#0e0f11] p-1 px-4 shadow-xl'
      >
        <a
          href='https://twitter.com/brenolasserre'
          target='_blank'
          class='p-1 transition hover:text-white'
        >
          <svg
            width='16'
            height='16'
            fill='currentColor'
            class='bi bi-twitter-x'
            viewBox='0 0 16 16'
          >
            <path
              d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'
            ></path>
          </svg>
        </a>

        <a
          href='mailto:lasserrebreno@gmail.com'
          target='_blank'
          class='p-1 transition hover:text-white'
        >
          <svg
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='h-6 w-6'
            ><path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75'
            ></path></svg
          >
        </a>
      </div>
    </div>

    <div
      class='gradientTop fixed left-0 top-0 z-50 h-[50px] w-full bg-gradient-to-b from-[#111213] to-transparent'
    >
    </div>

    <slot />
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
  }
  main {
    margin: auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }
</style>
