---
interface Props {
  title: string;
}
const { title } = Astro.props;
import '../styles/global.css';
---

<!-- 
            ·         ··             ▪     ·       ·  
• ▄ ▄ ·.  ▄▄▄· ·▄▄▄▄  ▄▄▄ .    ▄▄▄▄·  ▄· ▄▌
·██ ▐███▪▐█ ▀█ ██▪ ██ ▀▄.▀·    ▐█ ▀█▪▐█ ██▌
▐█ ▌▐▌▐█·▄█▀▀█ ▐█· ▐█▌▐▀▀▪▄  · ▐█▀▀█▄▐█▌▐█▪
██ ██▌▐█▌▐█ ▪▐▌██. ██ ▐█▄▄▌    ██▄▪▐█ ▐█▀·.
▀▀  █▪▀▀▀ ▀  ▀ ▀▀▀▀▀•  ▀▀▀ ▪   ·▀▀▀▀   ▀ • 
·          ▄▄▄▄· ▄▄▄  ▄▄▄▄ . ▐  ▄       
          ▐█ ▀█▪▀▄ █·█ .· •█▌▐█▪     ▪
       ▪  ▐█▀▀█▄▐▀▀▄ ▐▀▀ ▄▐█▐▐▌ ▄█▀▄    ·
          ██▄▪▐█▐█•█▌▐█▄▄▌██▐█▌▐█▌.▐▌    ·
    ·.    ·▀▀▀▀ .▀  ▀ ▀▀▀ ▀▀ █  ▀█▄▀▪
--><!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>Breno Lasserre - {title}</title>
  </head>
  <body>
    <slot />
    <main></main>
    <div
      class='gradientTop fixed bottom-0 left-0 z-50 h-[75px] w-full bg-gradient-to-t from-[#030305] via-transparent to-transparent'
    >
    </div>
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
  }
  main {
    margin: auto;
    width: 700px;
    max-width: calc(100% - 2rem);
  }
</style>
